/*Header*/
.cabecera__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.cabecera__buscar__item {
  display: none;
}

/* Menu lateral */

.menu__container {
  position: fixed;
  bottom: 0%;
  height: 75px;
  width: 100%;
  /* display: flex; */
}

.menu__lista {
  display: flex;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none;
}

/*Upper section*/
.superior__seccion__container {
  display: flex;
  align-items: center;
  /* White-space property specifies how white-space inside an element is handled. */
  white-space: nowrap;
  overflow: scroll;
  gap: 15px;
}

.rodapie__container {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
}

@media (min-width: 834px) {
  /*Header*/
  .cabecera__buscar__item {
    display: block;
  }

  /*Rodapie-footer*/
  .rodapie__container {
    justify-content: space-between;
  }
}
